- @images_cover.each do |work|
  .span2
    = link_to({:action =>'show', :id => work.work_id }, :class => 'image') do
      - if image = work
        = image_tag(image.file.url(:large))
      .over
      .over_cross
        = image_tag('over_cross.png')