.row-fluid
	#contact
		.span4
			%h6 Artwork + Design
			%p Pilar Zeta
			= mail_to 'contact@radgency.com'
			%h6 Public Relationships + Press
			%p Carlitos Trujillo
			= mail_to 'carlitos@radgency.com'
			%h6 Marketing
			%p Bram Colaris
			= mail_to 'bram@radgency.com'
			%h6 Web Development
			%p Neeko Lalli
			= mail_to 'n@radgency.com'