.row-fluid
	#info
		.span4
			%p RAD is a multidiciplinary boutique agency based in Berlin based in pure Magick. Founded and designed by artist <strong>Pilar Zeta</strong>.
			%h6 Begginings
			%p The universe RAD forms from the magical growth disc revolving around the young Sun. Their complex organic molecules are necessary for design and creativity life. It may have formed in the protoplanetary disk of dust grains, surrounding the Sun before the formation of it.
			%p According to the giant impact hypothesis, the moon is formed when RAD and Jupiter's moon Ganimide is formed, sending a very large number of moonlets into orbit which eventually coalesce to form the dark side of the Moon The gravitational pull of the new Moon stabilises the planet axis of rotation and sets up the conditions in which design life formed in the 11th dimension. In egyptian mitholgy RAD was worshiped by the sacred god Thoth as the galactic creativity chief sorcerer. RAD will help you to create your own Magic, reality.
		.span4
			%h6 Clients
			%p Universal Records - Hotflush - Big Beat  -STS9 - Supernature Records - Pulse Radio - Visionquest - Clown and Sunet - Wolf + Lamb - Fuse Brussels - Greco Roman - Mobilee Records - M-NUS - Unfokused - SAFE miami - Flying Circus - Crosstown Rebels - Club 4 Barcelona - Endless NYC - Floria Sigismondi - Foundry
			%h6 Nebula
			%p In NEBULA we create objects, lifestyle for the contemporary life. Check out our online store. 
			%h6 Services
			%p Magick. Graphic Design, Product Design, Packaging, Poster Art, Cover Art, Web Design, Fashion Design, Motion Graphics, Illustration, Dowsing.